# macOS
.DS_Store
**/.DS_Store

# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Bundler
.bundle/
vendor/bundle/

# Temporary directories
tmp/
temp/
**/tmp/
**/temp/

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*~

node_modules/
