<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

<p>
Our events are relaxed and welcoming, with a focus on building connections across industry, academia, healthcare and related areas. Everyone is welcome to attend, whether you want to meet people, exchange ideas, contribute to the discussion, or simply listen and get a feel for the community. For any questions, write to <a href="mailto:admin@swissgenomicsassociation.ch">admin@swissgenomicsassociation.ch</a>.
</p>

<div class="divider"></div>

<div class="events-container">
<ul class="event-list">
{% for e in site.data.events %}
  {% assign event_time = e.datetime | date: "%s" %}
  {% assign now_time = "now" | date: "%s" %}

  {% if event_time < now_time %}
    {% assign status = "Ended" %}
    {% assign colour = "#888" %}
  {% else %}
    {% assign status = "Upcoming" %}
    {% assign colour = "green" %}
  {% endif %}

  <li class="event-card">
    <div class="event-date">
      {{ e.datetime | date: "%Y-%m-%d %H:%M" }} Zürich CET (UTC+1)
      <span style="color: {{ colour }};">({{ status }})</span>
    </div>

    <div class="event-title">{{ e.title }}</div>

    <div class="event-topic">{{ e.topic }}</div>

    {% if e.location %}
			<div class="event-location"><strong>Location:</strong> {{ e.location }}</div>
    {% endif %}

    {% if e.url or e.link %}
      <div class="event-link">
        {% if e.url %}
          <a href="{{ e.url | relative_url }}">Event page and registration</a>
        {% elsif e.link and status == "Upcoming" %}
          <a href="{{ e.link }}">Request link to join</a>
        {% endif %}
      </div>
    {% endif %}
  </li>
{% endfor %}
</ul>
</div>
