.page-home {
}

// Fix list indentation and padding on home layout
.page-home .col-12 ul {
  padding-left: 1.25rem;
  margin-left: 0;
  list-style-position: outside;
}

@media (max-width: 767px) {
  .page-home .col-12 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

