---
layout: default
bodyClass: "page-basic"
---


<div class="page-wrapper position-relative">

  {% if page.intro_image %}
  <div class="intro-image-bg">
    <img
      src="{{ page.intro_image | relative_url }}"
      alt="{{ page.title }}">
  </div>
  {% endif %}


  <div class="container pb-6 pt-6 pt-md-10 pb-md-10 position-relative">
  {% if intro_image %}
  <div class="intro-image-bg">
    <img
      src="{{ intro_image | relative_url }}"
      alt="{{ intro_alt }}">
  </div>
  {% endif %}

    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-8">
        <div class="content-block">
          <h1 class="title">{{ page.title }}</h1>
          <div class="content">{{ content }}</div>
        </div>
      </div>
    </div>
  </div>

</div>

<style>
.intro-image-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  max-width: 500px;
  opacity: 0.60;
  z-index: 0;
  pointer-events: none;
}

.intro-image-bg img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.page-wrapper {
  position: relative;
  overflow: hidden;
}

.content-block {
  position: relative;
  z-index: 1;
}
</style>



<!-- <div class="container pb-6 pt-6 pt-md-10 pb-md-10"> -->
<!--     <div class="row justify-content-start"> -->
<!--         <div class="col-12 col-md-8"> -->
<!--             <div class="tech tech-single"> -->
<!--                 <h1 class="title">{{page.title}}</h1> -->
<!--                 <div class="content">{{content}}</div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->



